/*  Load Fonts  */
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*  global  */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: auto;
}

p, h4 {
    color : #65696e;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

h2 {
    color :#272727;
    font-family: 'Roboto-Black';
}

/*  HEADER   */
header {
    box-sizing: border-box;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0px;
    width : 100%;
    background-color: #fff;
    z-index: 20;
}

#logo {
    margin: auto 0px;
    margin-left: 10vw;
}

header nav a {
    font-family: 'Roboto';
    text-transform: capitalize;
    text-decoration: none;
    color : #777777;
    transition : 0.3s;
}

header nav a:hover {
    color : #999;
}

header nav ul li {
    list-style: none;
}

#menu input[type="checkbox"] {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    cursor : pointer;
}


/*  SLIDER  */
#slider {
    position: relative;
    top : 100px;
    font-family: 'Roboto-Black';
    margin : auto 0;
    overflow: hidden;
}

#title-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    color: #fff;
    margin: 10% 0 10% 10%;
    width: 650px;
}
#title-slider h1 {
    font-size : 2.5em;
}

#web-title-slider {
    color : #5cadd3;
}
#title-slider p {
    font-size: 0.95em;
    color : #fff;
}
#title-slider h1, p {
    padding-bottom: 20px;
}
#title-slider span {
    text-transform: uppercase;
}

.button_info {
    background-color: #5cadd3;
    border: 0;
    color: #fff;
    margin-top: 10px;
    border-radius: 3px;
    border-bottom: 3px solid #4494bb;
    height: 46px;
    width: 125px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}
.button_info:hover {
    border-bottom-color: #fff;
}
/*  End SLIDER  */

/*  prev next slide */
.command, .command a {
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    border-radius: 50%;
    height: 70px;
    width:  70px;
    background-color: rgba(0, 0, 0, .2);
    z-index: 3;
    top: 45%;
}

.command.prev {
    left: -35px;
}
.command.next {
    right: -35px;
}
.command.prev img{
    position: relative;
    width: 30%;
    top: 15px;
    left: 40px;
}
.command.next img {
    position: relative;
    width: 30%;
    top: 15px;
    left: 10px;
}

/* pour gérer le slider par clic mais je n'ai pas implémenté */
#slider .command {
    display: block;
}
/*  prev next slide */

/* slide image */
#slides figure img {
    width: 20%;
    float: left;
}

#slides figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    -webkit-animation: 20s slidy infinite ;
    -moz-animation: 20s slidy infinite ;
    animation: 20s slidy infinite ;
}

@-webkit-keyframes slidy {
    0% { left: 0%; }
    40% { left: 0%; }
    50% { left: -100%; }
    90% { left: -100%; }
    100% { left: -200%; }
}
@-moz-keyframes slidy {
    0% { left: 0%; }
    40% { left: 0%; }
    50% { left: -100%; }
    90% { left: -100%; }
    100% { left: -200%; }
}
@keyframes slidy {
    0% { left: 0%; }
    40% { left: 0%; }
    50% { left: -100%; }
    90% { left: -100%; }
    100% { left: -200%; }
}

/*  progressBar */
.progress {
    position :absolute;
    background: rgba(255,255,255,.3);
    z-index: 5;
	height: 3px;
	width: 100%;
	bottom: 0;
    border-top: 1px rgba(0,0,0,.15) solid;
}
.progress .bar {
    height: 100%;
    width: 0%;
    background: #5cadd3;
    -webkit-animation: 10s infinite linear progressbar_slider;
    -moz-animation : 10s infinite linear progressbar_slider;
    animation : 10s infinite linear progressbar_slider;
}

@-webkit-keyframes progressbar_slider {
    0% { width: 0%; }
    80% { width: 100%; }
    81% {width: 0%;}
    100% { width: 0%; }
}
@-moz-keyframes progressbar_slider {
    0% { width: 0%; }
    80% { width: 100%; }
    81% {width: 0%;}
    100% { width: 0%; }
}
@keyframes progressbar_slider {
    0% { width: 0%; }
    80% { width: 100%; }
    81% {width: 0%;}
    100% { width: 0%; }
}

/*  Service */
#service {
    position: relative;
    margin-top : 30px;
    padding-top: 5.6rem;
    /* justify-content: center; */
}

.title-section {
    text-transform: uppercase;
    font-family: 'Roboto-Black';
    font-size: 3em;
    color: #272727;
    text-align: center;
}
.line-section {
    width: 150px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    height: 1px;
    background-color: rgba(0,0,0,.15);
}
.line-section::before {
    content: '';
    border-radius: 50%;
    transform : translate(12px, -12px);
    height: 24px;
    width:  24px;
    background-color: #fff;
}
.line-section::after {
    content: '';
    border-radius: 50%;
    transform : translate(-7px, -7px);
    height: 14px;
    width:  14px;
    background-color: #5cadd3;
}
.text-section {
    text-align: center;
    line-height: 25px;
    width: 50vw;
    margin: 20px auto;
}

#service article {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.list-point-article {
    list-style: none;
}
.list-point-article li {
    display: flex;
    margin-top: 20px;
}
.left-side-article {
    width : 60%;
    margin: 5% 0 0 10%;
}
.left-side-article figure img {
    max-width: 100%;
    height: auto;
}
.right-side-article {
    width : 50%;
    margin: 50px 12% 0 5%;
}
.right-side-article h2 {
    font-size: 1.2em;
}
.icon-list-article {
    display: flex;
}
.list-point-article i {
    color: #5cadd3;
    transform: scale(1.5, 1.5);
    margin: auto;
    padding: 12px;
    border-radius: 50%;
    margin-right: 40px;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,.15);
}
.blue-point {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(40px , 22px);
    background-color: #fff;
}
.blue-point::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(5px , 3.5px);
    background-color: #5cadd3;
}

.text-list-article p {
    line-height: 25px;
    margin-top: 5px;
}

/*  Portfolio   */
#portfolio {
    position: relative;
    padding-top: 5.6rem;
}

#container-portfolio {
    background-color: #f5f5f5;
    padding-top: 20px;
}
#select-project {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

input[type="radio"]{
    display: none;
}

#select-project .fa-caret-down {
    display: none;
    position: absolute;
    left: 47%;
    bottom: 0;
    transform: scale(1.6 , 1.6) translate(0 , 7px);
    color: #468cad;
}

#portfolio label{
    position: relative;
    margin: 0;
    font-family: 'Roboto';
    font-size: 14px;
    top: 10px;
    padding: 10px;
    cursor:pointer;
    text-align: center;
    text-transform: capitalize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    transition : color 0.3s;
}
#portfolio label[for="radio-1"] {
    border-radius: 5px 0 0 5px;
}
#portfolio label[for="radio-4"] {
    border-radius: 0 5px 5px 0;
}

#radio-1[type="radio"]:checked + label .fa-caret-down {
    display: initial;
}
#radio-2[type="radio"]:checked + label .fa-caret-down {
    display: initial;
}
#radio-3[type="radio"]:checked + label .fa-caret-down {
    display: initial;
}
#radio-4[type="radio"]:checked + label .fa-caret-down {
    display: initial;
}

#portfolio input[type=radio]:checked + label {
    background-color: #5cadd3;
    color: #fff;
    border-bottom: 3px solid #468cad;
}
#portfolio input[type=radio] + label {
    background-color: #e5e5e5;
    color: #65696e;
}
#portfolio input[type=radio] + label:hover {
    color: #999;
}
#portfolio input[type=radio]:checked + label:hover {
    color: #fff;
}
.miniature-project {
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content: center;
}

.miniature-project figure {
    float: left;
    overflow:hidden;
    width : 20%;
    box-sizing: border-box;
    height:13vw;
    margin: 1%;
    padding: 0;
}

.miniature-project figure img {
    width : 100%;
    height: auto;
    cursor : pointer;
}

.fgcaption-image {
    position : relative;
    background-color : rgba(0,0,0,0.3);
    bottom: 0;
    height: 60%;
    transition: 1s;
    opacity: 0;
}

.miniature-project figure:hover .fgcaption-image {
    /* --var1 : calc((100% - 125px)/2 ); */
    /* bottom: calc(53% - var(--var1)); */
    /* Ce calcul permet de palier au défaut de longueur de texte quand l'image est trop petite
    mais ne fonctionne pas sur tout les navigateurs entre autre internet explorer */
    bottom: 40%;
    opacity: 1;
}

.fgcaption-image .fa-eye {
    position : absolute;
    text-align: center;
    color : #fff;
    right : 5%;
    top : 0;
    padding: 15px;
    transform: translateY(-50%) scale(0.8,0.8);
    background-color: #5cadd3;
    border-radius: 50%;
    border : 2px solid #fff;
}

.title-caption-image {
    font-family: 'Roboto-Black';
    font-size : 1em;
    text-transform: capitalize;
    color : #fff;
    margin-left: 10px;
    padding-top : 5px;
}
.text-caption-image {
    font-family: 'Roboto';
    font-size : .8em;
    color : #fff;
    margin-left: 10px;
}
/*  end PORTFOLIO   */

/*  CONTACT */
#contact {
    position : relative;
    display : block;
    background-color: #5cadd3;
    width : 100%;
    margin :  auto;
    height : 800px;
}

.map {
    position : absolute;
    width : 100%;
    height : 800px;
    opacity: .7;
}

.form-contact {
    position : absolute;
    width : 330px;
    height : 527px;
    top : 50px;
    right: 10%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.644);
}

.form-contact h2 {
    text-transform: capitalize;
}

.form-contact h4 {
    margin-top : 10px;
    margin-bottom: 1px;
}
.form-contact p {
    padding: 1px;
}
.form-contact p + p {
    margin-bottom: 10px;
}
.form-contact input[type="text"], input[type="email"], textarea {
    box-sizing: border-box;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    width : 100%;
    padding : 7px;
    margin : 7.5px 0;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
    font-family: 'Roboto', 'arial';
    font-size : 0.9em;
    color : #9d9d9d;
}
.form-contact input[type="submit"] {
    width : 36%;
    color : #fff;
    background-color: #5cadd3;
    border : none;
    padding : 7px;
    margin-top : 5px;
    border-radius: 3px;
    border-bottom: 3px solid #468cad;
    font-family: 'Roboto', 'arial';
    font-size : 0.9em;
    cursor: pointer;
}

.form-contact input[type="submit"]:hover {
    border : 2px solid #468cad;
}

/*  MEDIA QUERY */
@media screen and (max-width : 1000px) {
    /*  SLIDER  */
    #title-slider {
        margin : 8% 0 8% 10%;
    }
    #title-slider h1, p{
        padding: 0;
    }
    #title-slider h1 {
        font-size : 3.7vw;
    }
    #service article {
        flex-direction: column;
    }
    .left-side-article {
        margin : auto;
    }
    .right-side-article {
        margin : auto;
    }
    .right-side-article {
        width : 80%;
    }
    .miniature-project figure {
        width : 40%;
        height: 26vw;
    }
}

@media screen and (min-width : 861px) {
    /*  HEADER  */
    header nav {
        margin-right: 10vw;
    }
    header nav ul li {
        display: inline-block;
        right: 0;
        margin-right : 30px;
    }

    header nav a {
        position: relative;
        line-height: 68px;
    }

    header nav a:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 0;
        top : -42px;
        height: 0;
        background-color: #5cadd3;
        transition : 0.3s;
    }
    header nav a:hover:before {
        height: 5px;
    }
    #accueil:target #nav_accueil:before {
        height: 5px;
    }
}

@media screen and (max-width : 860px) {
    #menu {
        display : block;
        position : absolute;
        right : 0;
        user-select: none;
    }
    #menu nav {
        position : absolute;
        overflow: hidden;
        right : 0;
        top : 100px;
    }

    #menu ul {
        list-style : none;
        overflow : hidden;
        margin : 0;
        padding : 0;
        transform : translateX(180px);
        border-radius : 3px 0 0 3px;
        transition : 0.5s;
        opacity : 0;
        transition : 0.5s;
        border: 1px solid rgb(194, 194, 194);
        border-right : none;
    }

    #menu li {
        display : block;
        background-color : #fff;
    }
    #menu li:hover, #accueil:target li #nav_accueil {
        background-color : #5cadd3;
    }
    #menu li a {
        display : block;
        text-decoration : none;
        color : #777777;
        padding : 10px;
        width : 100%;
    }

    #menu li a:hover, #accueil:target li #nav_accueil {
        color : #fff;
    }

    #chekbox-burger {
        display: block;
        width: 35px;
        height: 30px;
        position: fixed;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        top : 34px;
        margin-right: 0;
        right: 20px;
    }

    #button-burger {
        display : block;
        width: 33px;
        height: 4px;
        position: fixed;
        background: #5cadd3;
        border-radius: 3px;
        z-index: 1;
        top : 47px;
        right : 20px;
        margin-right: 0;
        transition : width 0.3s, background-color 0.3s, margin-right 0.3s;
    }
    #button-burger::before {
        content : "";
        display : block;
        width: 33px;
        height: 4px;
        position: relative;
        background: #5cadd3;
        border-radius: 3px;
        z-index: 1;
        top : -11px;
        transition : 0.3s;
    }

    #button-burger::after {
        content : "";
        display : block;
        width: 33px;
        height: 4px;
        position: relative;
        background: #5cadd3;
        border-radius: 3px;
        z-index: 1;
        top : 7px;
        transition : 0.3s;
    }
    #menu input:checked + #button-burger {
        background-color : #fff;
        width : 0;
        margin-right: 35px;
        transition : width 0.3s 0.1s, background-color 0.3s, margin-right 0.3s 0.1s;
    }
    #menu input:checked + #button-burger:before {
        transform : translatey(11px) rotate(45deg);
    }
    #menu input:checked + #button-burger:after {
        transform : translatey(-11px) rotate(-45deg);
    }

    #menu input:checked ~ nav ul {
        transform : none;
        opacity : 1;
        transition : transform 0.5s;
    }
    .button_info {
        height: 30px;
        font-size: 1em;
    }
    #slider .command {
        display: none;
    }
    .title-section {
        font-size: 2.5em;
    }
    .text-section {
        width: 70vw;
    }
    .button_info {
        height: 30px;
        width: 100px;
        font-size: .8em;
    }
}

@media screen and (max-width : 480px) {
    #logo img{
        width: 65%;
        height: auto;
    }
    .title-section {
        font-size: 1.5em;
    }
    .miniature-project figure {
        width : 80%;
        height: 50vw;
    }
    .form-contact {
        left : 5%;
        width: 80%;
        margin : auto;
    }
    #title-slider p {
        font-size : .77em;
    }
}
@media screen and (max-width : 400px) {
    #title-slider p {
        font-size : .7em;
    }
}
@media screen and (max-width : 365px) {
    .form-contact input[type="submit"] {
        width : 43%;
    }
    #title-slider p {
        font-size : 2.8vw;
    }
}